
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.navbar-nav .nav-item .btn {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600; 
    letter-spacing: 0.2px;
    text-transform: uppercase; 
}
.navbar-nav .nav-item .btn {
    font-size: 0.9rem;
}
.colorfondo{
    background-color: #0c3b66;
}
.encpie
{
    background-color: #8adbc9;
    
}
.pie
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
    letter-spacing: 0.2px;
}